:root{
  --background-color: #0D0B0B;
  --section-color: #1A1616;
  --secondary-text: #A39191;
  --primary-text: #FAF5F5;
}
*{
  box-sizing: border-box;
}
#root {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 10px;
}

nav, #about, #game, .nav-btn, .clicker, #upgrades, #leaderboards{
  display: flex;
  align-items: center;
  justify-content: center;
}
#about, #game, footer, .nav-btn, #upgrades, #leaderboards{
  flex-direction: column;
  /*background-color: var(--tg-theme-secondary-bg-color);*/
  background-color: var(--section-color);
  padding: 15px;
  border-radius: 15px;
  gap: 5px;
}

.clicker{
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

p{
  /*color: var(--tg-theme-hint-color);*/
  color: var(--secondary-text);
}

h1, h2, h3, a{
  /*color: var(--tg-theme-text-color);*/
  color: var(--primary-text);
}

a{
  font-weight: bold;
}

nav{
  flex-direction: row;
  flex-wrap: wrap;  
  gap: 10px;
}

.nav-btn{
  flex: 1 1 calc(50% - 10px);
  text-decoration: none;
  transition: ease 0.3s;
  -webkit-tap-highlight-color: transparent;
}

.nav-btn:hover{
  filter: brightness(1.2);
}

.leaderboard-row{
  background-color: var(--section-color);
  padding: 5px;
  border-radius: 10px;
  width: 100%;
}
.leaderboard-row:nth-child(even){
  filter: brightness(1.3);
}

.clicker-button{
  aspect-ratio: 1/1;
  width: 100px;

  background-color: var(--section-color);
  background-size: cover;
  background-image: url(assets/icon.png);

  border-radius: 50%;
  /*
  border: 2px solid var(--tg-theme-bg-color);
  outline: 1px solid var(--tg-theme-text-color);
  */
  border: 2px solid var(--background-color);
  outline: 1px solid var(--primary-text);

  transition: 0.1s ease;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation; 
}

.clicker-button:hover{
  transform: scale(1.05);
  cursor: pointer;
}


@media (hover: none) and (pointer: coarse) {
  .nav-btn:hover,
  .clicker-button:hover {
    transform: none;
    filter: none;
  }
}

.clicker-button:active{
  transform: scale(0.9);
}
