*{
  box-sizing: border-box;
}
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  color: var(--tg-hint);
}

nav, .about-us, .our-plans{
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
}

footer{
  padding: 20px;
}

ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

li{
  flex: 1 1 calc(50% - 10px);
  background-color: var(--tg-hint);
  color: var(--tg-text);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

